<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nicolas Cage Gallery</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Nicolas Cage Gallery</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Photo Gallery</h2>
        <div class="gallery">
          <img src="/images/1.jpg" alt="Nicolas Cage Image 1" />
          <img src="/images/2.jpg" alt="Nicolas Cage Image 2" />
          <img src="/images/3.jpg" alt="Nicolas Cage Image 3" />
          <img src="/images/4.jpg" alt="Nicolas Cage Image 4" />
          <img src="/images/5.avif" alt="Nicolas Cage Image 4" />
          <img src="/images/6.avif" alt="Nicolas Cage Image 4" />
        </div>
      </section>
    </main>
    <footer>
      <p>"I am not a demon. I am a lizard, a shark, a heat-seeking panther."</p>
    </footer>
  </body>
</html>
