<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nicolas Cage Works</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Nicolas Cage Works</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/gallery">Gallery</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Nicolas Cage's 15 Worst Movies (According To Rotten Tomatoes)</h2>
        <ul>
          <li>The Wicker Man (2006) 15%</li>
          <li>Rage (2014) 12%</li>
          <li>Trespass (2011) 11%</li>
          <li>Season Of The Witch (2011) 11%</li>
          <li>Dying Of The Light (2014) - 11%</li>
          <li>Pay The Ghost (2015) - 10%</li>
          <li>Fire Birds (1990) - 10%</li>
          <li>Bangkok Dangerous (2008) - 9%</li>
          <li>Trapped In Paradise (1994) - 5%</li>
          <li>Arsenal (2017) - 3%</li>
          <li>Grand Isle (2019) 0%</li>
          <li>Left Behind (2014) - 0%</li>
          <li>Deadfall (1993) - 0%</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>"I never disrobe before gunplay."</p>
    </footer>
  </body>
</html>
