/* Reset */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f2f2f2;
}

/* Container*/
main {
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header*/
header {
  background-color: #2c7a7b;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2rem;
}

/* Nav*/
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

nav a:hover {
  color: #81e6d9;
}

/* Main */
section {
  padding: 1rem;
  background-color: #e2e8f0;
  border-radius: 5px;
}

/* Image*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
}

/* Gallery*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Footer  */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #2c7a7b;
  color: #fff;
}
